.textColor {
 color: rgba(0, 59, 96, 1);

}

.textYellow {
 color: rgba(240, 230, 21, 1);
 ;
}

.bgColor {
 background: rgba(0, 59, 96, 1);
}

.bgColors {
 background: rgba(240, 230, 21, 1);

}
.paddingDes{
 border-radius: 20px 0px 20px 0px;
}
.backPant{
 border-radius:   50px 500px 12000px 12000px;
}
